:root {
  --header-color: #2e2f42;
  --main-text-color: #434455;
  --main-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --hover-focus-color: #4d5ae5;
  --third-background-color: #e5e5e5;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style: none;

  padding-left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.container {
  width: 1128px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.head-position {
  display: flex;
  padding-bottom: 24px;
  padding-top: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.all-header a {
  text-decoration: none;
}

.logo-position {
  display: flex;
}

.logo {
  color: var(--header-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-color {
  color: var(--hover-focus-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-link {
  display: flex;
}

.nav-link a {
  color: var(--header-color);
  font-weight: 600;
  line-height: 1.5;
}
.nav-link a:hover,
.nav-link a:focus {
  color: var(--hover-focus-color);
}

.contact-link {
  display: flex;
}

.contact-link a {
  color: var(--main-text-color);
  font-style: normal;
}

.contact-link a:hover,
.contact-link a:focus {
  color: var(--hover-focus-color);
}

.hero {
  background-color: var(--header-color);
  text-align: center;
}
.hero-title {
  color: var(--main-background-color);
  font-family: "Roboto";
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  display: inline-block;
  background-color: var(--hover-focus-color);
  color: var(--main-background-color);
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  min-width: 170px;
  padding: 16px 32px;
  border: 1px solid transparent;
  margin-top: 48px;
}

.privilege {
  background-color: var(--main-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.container ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.privilege-title {
  color: var(--header-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  margin-bottom: 8px;
}
.privilege-text {
  color: var(--main-text-color);
}

.work {
  background-color: var(--main-background-color);
  padding-top: 0px;
}

.section-title {
  color: var(--header-color);
  font-family: "Roboto";

  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team {
  background-color: var(--secondary-background-color);
}

.team-name {
  color: var(--header-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 32px;
  margin-bottom: 8px;
}
.team-text {
}

.team-block {
  background-color: var(--main-background-color);
}

.footer {
  background-color: var(--header-color);
  padding: 100px;
}

.footer a {
  text-decoration: none;
}

.logo-title {
  color: var(--secondary-background-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #e7e9fc;
  margin-top: 16px;
}

/* Portfolio */
.section-list {
  padding-top: 96px;
}

.main-portfolio {
  background-color: var(--main-background-color);
}

.button-porfolio {
  font-family: inherit;
  background-color: var(--secondary-background-color);
  color: var(--hover-focus-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* Я так понял не будет работать, оставлю пока так  */
.button-porfolio button:hover,
.button-porfolio:focus {
  color: var(--hover-focus-color);
}
.button-entrance {
  margin-bottom: 72px;
}

.project {
}
/* Примеры работ  */
.project a {
  text-decoration: none;
}

.project-block {
  background-color: var(--main-background-color);
  padding-bottom: 32px;
  border: 0.5px solid #f4f4fd;
}

.project-title {
  color: var(--header-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  margin-top: 32px;
}
.project-text {
  color: var(--main-text-color);
}
