:root{
--header-color:#2E2F42;
--main-text-color:#434455;
--main-background-color:#FFFFFF;
--secondary-background-color:#F4F4FD;
--hover-focus-color:#4D5AE5;
--third-background-color:#E5E5E5;

}

body{
    background-color:var(--main-background-color);
    color: var(--main-text-color); 
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;

}
ul{
    list-style: none;
}

.container{

width: 1128px;    

margin-left: auto;
margin-right: auto;



}


.all-header a{
text-decoration: none;

}
.logo{
color:var(--header-color); 
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.logo-color{
color:var(--hover-focus-color);
font-family:'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.nav-link a{

    color: var(--header-color);
    font-weight: 600;
    line-height: 1.5;
    }
.nav-link a:hover,
.nav-link a:focus
{

    color: var(--hover-focus-color)
}
.contact-link{
 margin-top: 0; 
 margin-bottom: 0;
}

.contact-link a{

color:var(--main-text-color);
font-style: normal;

}

.contact-link a:hover,
.contact-link a:focus

{
 color: var(--hover-focus-color);
}


.hero{
background-color: var(--header-color);
text-align: center;

}
.hero-title{
    color: var(--main-background-color);
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
        /* or 107% */
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
   

}

.hero-button{
display: inline-block;
background-color:var(--hover-focus-color);
color: var(--main-background-color);
font-family: inherit;
cursor: pointer;
border-radius: 4px;
min-width: 170px;
padding: 16px 32px ;
border: 1px solid transparent;
margin-top: 48px;
margin-bottom: 192px;
}

.privilege{
    background-color: var(--main-background-color);
    padding-top: 120px;
    padding-bottom: 120px;


}
.privilage-main-title{
  margin-bottom: 0px;
  margin-top: 0px;  
}
.container ul{
margin-top: 0px;
margin-bottom: 0px;
}

.privilege-title{

color: var(--header-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;

    margin-bottom: 8px;
    margin-top: 0px;

}
.privilege-text{
color: var(--main-text-color);
margin-bottom: 0px;
    margin-top: 0px;
}

.work{
background-color: var(--main-background-color);
}

.section-title{
color: var(--header-color);
font-family: 'Roboto';

font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
margin-top: 0px;
margin-bottom: 72px;
}




.team{
background-color: var(--secondary-background-color)
 ;
}

.team-name {

color: var(--header-color);
font-weight: 600;
font-size: 20px;
line-height: 1.2;
margin-top: 32px;
margin-bottom: 8px;
}
.team-text{

margin-top: 0px;
margin-bottom: 0px;  
}

.team-block{
 background-color: var(--main-background-color);
}

.footer{

background-color: var(--header-color);
padding: 100px;


}

.footer a{

text-decoration: none;    
}

.logo-title{
    color: var(--secondary-background-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-text{

color: #E7E9FC; 
margin-bottom: 0px;
margin-top: 16px;
}


/* Portfolio */

.main-portfolio{
background-color:var(--main-background-color)

}

.button-porfolio{
font-family: inherit;
background-color: var(--secondary-background-color);
color: var(--hover-focus-color);
font-weight: 600;
font-size: 16px;
line-height: 1.5; 
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
}


/* Я так понял не будет работать, оставлю пока так  */
.button-porfolio button:hover,
.button-porfolio:focus{
color: var(--hover-focus-color);

}

/* Примеры работ  */
.project a{
text-decoration: none;

}


.project-block {
background-color: var(--main-background-color);

}


.project-title{
color: var(--header-color);
font-weight: 600;
font-size: 20px;
line-height: 1.2;
    
} 
.project-text{
color: var(--main-text-color);    
}